h1 {
    color: tomato;
}

h2 {
    color: green;
}

p {
    color: aqua;
}

li {
    color: rebeccapurple;
}

.list-Style {
    background-color: aqua;
    text-align: center;
}

.song {
    list-style: none;
}